.version.index /* version checker */
{
	color: #00001D;
	background-color: #DC4371;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2843px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 524px;
	padding-bottom: 80px;
	width: 0.01px;
}

#u78
{
	z-index: 4;
	position: fixed;
	top: 369px;
	left: 246px;
}

#m2
{
	margin-left: 462px;
	position: relative;
}

#u1509
{
	z-index: 55;
	width: 143px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 559px;
	left: 409px;
}

#pu1502
{
	z-index: 56;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1502
{
	z-index: 0;
	width: 143px;
	background: #9F9F9F url("../images/u1502-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #9F9F9F));
	background: -webkit-linear-gradient(top,#7F7F7F ,#9F9F9F 100%);
	background: linear-gradient(to bottom,#7F7F7F ,#9F9F9F 100%);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u1502:hover
{
	background: #666666 url("../images/u1502-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#333333),color-stop(100%, #666666));
	background: -webkit-linear-gradient(top,#333333 ,#666666 100%);
	background: linear-gradient(to bottom,#333333 ,#666666 100%);
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u1502:active
{
	background: #666666 url("../images/u1502-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#333333),color-stop(100%, #666666));
	background: -webkit-linear-gradient(top,#333333 ,#666666 100%);
	background: linear-gradient(to bottom,#333333 ,#666666 100%);
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#pu1503-4
{
	width: 0.01px;
	position: relative;
	left: 27px;
	padding-top: 15px;
	z-index: 2;
	padding-bottom: 15px;
}

#u1503-4
{
	z-index: 57;
	width: 89px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
}

#u1510-9
{
	z-index: 61;
	width: 89px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	position: fixed;
	top: 655px;
	left: 436px;
}

#u1065-4
{
	z-index: 13;
	width: 448px;
	min-height: 40px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: fixed;
	top: 662px;
	left: 256px;
}

#u81
{
	z-index: 3;
	position: fixed;
	top: 718px;
	left: 230px;
}

#m1
{
	margin-left: 469px;
	margin-top: 806px;
	position: relative;
}

#u75
{
	z-index: 2;
	margin-left: 158px;
	margin-top: 41px;
	position: relative;
}

#u1063-4
{
	z-index: 9;
	width: 448px;
	min-height: 40px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 256px;
	margin-top: 49px;
	position: relative;
}

.js #u1502.ose_pre_init,.js #u1503-4.ose_pre_init,.js #u1510-9.ose_pre_init,.js #u1065-4.ose_pre_init,.js #u81.ose_pre_init,.js #u1063-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1060-4
{
	z-index: 5;
	width: 448px;
	min-height: 40px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 256px;
	margin-top: 233px;
	position: relative;
}

#slideshowu1285
{
	z-index: 17;
	width: 0.01px;
	height: 530px;
	margin-left: 20px;
	margin-top: 3px;
	position: relative;
}

#u1293
{
	position: absolute;
	width: 920px;
	height: 530px;
	background-color: transparent;
}

#u1293popup
{
	z-index: 18;
}

#u1294
{
	z-index: 19;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1371
{
	z-index: 21;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1380
{
	z-index: 23;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1389
{
	z-index: 25;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1398
{
	z-index: 27;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1407
{
	z-index: 29;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1416
{
	z-index: 31;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1425
{
	z-index: 33;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1434
{
	z-index: 35;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1443
{
	z-index: 37;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1452
{
	z-index: 39;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1294_img,#u1371_img,#u1380_img,#u1389_img,#u1398_img,#u1407_img,#u1416_img,#u1425_img,#u1434_img,#u1443_img,#u1452_img
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u1461
{
	z-index: 41;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1461_img
{
	padding-left: 23px;
	padding-right: 24px;
}

#u1470
{
	z-index: 43;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1470_img
{
	padding-left: 36px;
	padding-right: 36px;
}

#u1479
{
	z-index: 45;
	width: 920px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u1479_img
{
	padding-left: 51px;
	padding-right: 50px;
}

#u1295-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 440px;
	left: 920px;
}

#u1295-4popup
{
	z-index: 47;
}

#u1292-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 490px;
	left: 920px;
}

#u1292-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1512
{
	z-index: 71;
	width: 143px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 409px;
	margin-top: 49px;
	position: relative;
}

#u1514
{
	z-index: 72;
	width: 143px;
	background: #9F9F9F url("../images/u1502-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #9F9F9F));
	background: -webkit-linear-gradient(top,#7F7F7F ,#9F9F9F 100%);
	background: linear-gradient(to bottom,#7F7F7F ,#9F9F9F 100%);
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u1514:hover
{
	background: #666666 url("../images/u1502-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#333333),color-stop(100%, #666666));
	background: -webkit-linear-gradient(top,#333333 ,#666666 100%);
	background: linear-gradient(to bottom,#333333 ,#666666 100%);
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1514:active
{
	background: #666666 url("../images/u1502-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#333333),color-stop(100%, #666666));
	background: -webkit-linear-gradient(top,#333333 ,#666666 100%);
	background: linear-gradient(to bottom,#333333 ,#666666 100%);
	width: 143px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1513-4
{
	z-index: 73;
	width: 89px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 27px;
}

#u1515-8
{
	z-index: 77;
	width: 89px;
	min-height: 16px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	margin-left: 436px;
	margin-top: 19px;
	position: relative;
}

#u1510-5,#u1515-2
{
	color: #7F7F7F;
}

#u1515-4,#u1515-6
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

